* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


button {
    border: none;
}

.navber {
    width: 100%;
}

.nava {
    box-shadow: 0px 0px 8px 0px rgba(51, 51, 51, 0.2);
    background: rgb(255, 255, 255);
}

.nav__navbar {
    display: flex;
    width: 100%;
    gap: 15px;
    padding-left: 250px;
}

.navbar__menu {
    box-sizing: border-box;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    padding: 5px;
    background: #ffffff;
    margin-left: 30px;
}

.nav__dropdown {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.48px;
    text-align: left;
}

.contact__coll {
    display: flex;
    margin-left: -245px;
    gap: 5px;
}

.contact__coll svg {
    width: 20px;
    margin-top: 5px;
    padding: 1px;
}

.coll__number {
    color: rgb(0, 0, 0);
    font-family: Segoe UI;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0.48px;
}

.second__header {
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.nav__input {
    width: 100%;
    max-width: 600px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.serch__btn {
    width: 45px;
    height: 45px;
    border-radius: 0px 5px 5px 0px;
    background: rgb(245, 62, 50);
}

.search {
    border-radius: 5px;
    border: 1px solid rgb(100, 180, 150);
    width: 400px;
    height: 45px;
    padding-left: 20px;
}

.price__sort {
    display: flex;
    width: 130px;
    height: 45px;
    color: rgb(33, 37, 41);
    font-family: Segoe UI;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    letter-spacing: 0%;
    text-align: left;
}

.abot {
    display: flex;
    gap: 8px;
    width: 300px;
    height: 40px;
    margin-top: 40px;
    margin-left: 30px;
}

.abot__a {
    display: flex;
    max-width: 130px;
    height: 39px;
    gap: 8px;
    text-decoration: none;
}

.abot__a svg {
    width: 14px;
    height: 18px;
}

.abot__a h4 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    margin-top: 3px;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.48px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
    min-height: 45px;
    max-width: 292px;
    padding: 0 1rem;
    color: #000000;
    font-size: 15px;
    border: 1px solid rgb(59, 183, 126);
    border-radius: 50px;
    background-color: transparent;
}

.button--submit {
    min-height: 45px;
    padding: .5em 1em;
    border: none;
    border-radius: 50px;
    background: rgb(59, 183, 126);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.button--submit:hover {
    background-color: #5e5dcd;
}

.input:focus,
.input:focus-visible {
    border-color: #3898EC;
    outline: none;
}

.hedre__kenzo {
    display: flex;
}

.hero__left {
    margin-top: 2px;
    width: 550px;
    height: 660px;
}

.left__sec {
    display: flex;
    gap: 5px;
    padding-top: 150px;
}

.left__sec h5 {
    color: rgb(245, 62, 50);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.48px;
    text-align: left;
}

.left__sec p {
    color: rgb(33, 37, 41);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.48px;
    text-align: left;
}

.hero__left h3 {
    width: 522px;
    height: 146px;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-size: 55px;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: 0.48px;
    text-align: left;
}

.hero__left p {
    width: 488px;
    height: 47px;
    color: rgb(122, 122, 122);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 26.25px;
    letter-spacing: 0.48px;
    text-align: left;
}

.hero__right {
    display: flex;
    gap: 20px;
}

.right__btn {
    width: 140px;
    height: 46px;
    box-sizing: border-box;
    border: 1px solid rgb(236, 236, 236);
    margin-top: 190px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    color: rgb(59, 183, 126);
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    transition: 0.5s ease-in-out;
}

.right__btn:hover {
    color: #000000;
}

.row__post {
    display: flex;
    gap: 35px;
    margin-left: 40px;
    margin-bottom: 60px;
}

.fast {
    width: 100%;
    max-width: 380px;
    height: 220px;
    border-radius: 10px;
    background: rgb(222, 219, 219);
}

.fast svg {
    margin-top: -35px;
    border-radius: 10px;
}

.fast img {
    max-width: 380px;
    height: 220px;
}

.col-3 {
    margin-top: 30px;
}

.card__cl {
    box-sizing: border-box;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 15px;
    background: rgb(255, 255, 255);
    max-width: 300px;
}

.card-img-top {
    width: 256px;
    height: 226px;
    margin: 20px;
    object-fit: cover;
    background-color: rgb(239, 205, 255);
}

.bottem {
    height: 200px;
}

.prodact__h6 {
    color: rgb(173, 173, 173);
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    padding-left: 20px;
    margin-top: -10px;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: rgb(43, 43, 45);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.48px;
    padding: 0px 20px;
    margin-top: -10px;
}

.starres {
    display: flex;
    gap: 10px;
    padding-left: -55px;
    margin-top: -10px;
}

.rating:not(:checked)>input {
    appearance: none;
}

.rating:not(:checked)>label {
    float: right;
    cursor: pointer;
    font-size: 20px;
    color: #666;
}

.rating:not(:checked)>label:before {
    content: '★';
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #ff9e0b;
}

.rating>input:checked~label {
    color: #ffa723;
}

.look {
    color: rgb(182, 182, 182);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: 3px;
}

.klon {
    display: flex;
    gap: 10px;
}

.bottem__tex {
    display: flex;
    gap: 5px;
    margin-top: -3px;
}

.text__f {
    color: rgb(173, 173, 173);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    margin-left: 20px;
}

.text__s {
    color: rgb(59, 183, 126);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.prodact__btm {
    color: rgb(173, 173, 173);
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: line-through;
}

.prodact__btn {
    color: rgb(59, 183, 126);
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    margin-left: 20px;
}

.card__btn {
    display: flex;
    width: 84.91px;
    height: 36px;
    left: 192.09px;
    right: 21px;
    top: 408.38px;
    bottom: 21px;
    border-radius: 4px;
    background: rgb(245, 62, 50);
    margin-left: 190px;
    margin-top: -30px;
}

.cardbtn__img {
    width: 22px;
    height: 22px;
    margin: 5px 0px;
    margin-left: 12px;
}

.cardbtn__tex {
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 4px;
}

.ddddd {
    height: 100px;
}

.loading {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -webkit-transition: 1s;
    transition: 1s;
}

#loading.loading-none {
    z-index: -1;
    opacity: 0;
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 130px 0;
    perspective: 780px;
}

.text {
    font-size: 20px;
    font-weight: 700;
    color: #060606;
    z-index: 10;
}

.load-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 50%;
}

.load-inner.load-one {
    left: 0%;
    top: 0%;
    border-bottom: 3px solid #5c5edc;
    animation: rotate1 1.15s linear infinite;
}

.load-inner.load-two {
    right: 0%;
    top: 0%;
    border-right: 3px solid #9147ff;
    animation: rotate2 1.15s 0.1s linear infinite;
}

.load-inner.load-three {
    right: 0%;
    bottom: 0%;
    border-top: 3px solid #3b82f6;
    animation: rotate3 1.15s 0.15s linear infinite;
}

@keyframes rotate1 {
    0% {
        transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
    }
}